<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div class="row">
    <div class="jumbotron">
        <div class="col-md-12 text-center">
            <button type="button" class="btn btn-default" id="btn-search">Search</button>
            <input type="text" class="input-sm" placeholder="a location name" id="txtLocation" />
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-4">
        <div id="current-conditions-template" class="conditions-template hidden">
            <p id="localizedName">{LocalizedName}</p>
            <p><span id="celsiusTemperature">{CelsiusTemperature}</span> <span id="weatherText">{WeatherText}</span></p>
        </div>
    </div>

    <div class="col-md-4">
        <button type="button" class="btn btn-default hidden" id="addToFavorites">
            <i class="fa fa-heart"></i>
            Add to Favorites
        </button>
    </div>

    <div class="col-md-4 border-left" id="locationsSearchResults">

    </div>

</div>

<br />

<div class="row">
    <div class="col-md-12 text-center jumbotron">
        <h3>Favorites</h3>
        <button type="button" class="btn btn-default" id="btn-reload">Reload</button>
    </div>

    <div class="col-md-4 border-left hidden" id="favoritesSearchResults">

    </div>
</div>



<div id="templates" class="hidden">
    <div id="locations-template" class="locations-template panel" locationkey="0">
        <a>{LocalizedName}</a>
    </div>
</div>

<div id="templates" class="hidden">
    <div id="favorites-template" class="locations-favorites panel" locationkey="0">
        <p>{LocalizedName}</p>
    </div>
</div>